#ifndef TNFSDRV_NET_CFG_H
#define TNFSDRV_NET_CFG_H

#define MTCP_PROGRAM_NAME "tnfsdrv"

#include "global.cfg"

#define COMPILE_ARP
#define COMPILE_UDP
#define COMPILE_DNS

#undef UDP_MAX_CALLBACKS
#define UDP_MAX_CALLBACKS (2)   /* one for DNS, one for TNFS */

#endif
